    <footer>
                        2020 Nakamura Yasuhiro
                        <div id="social-icon">
                            <a href="https://www.microsoft.com/ja-jp/store/b/windows"><i class="fa fa-windows fa-2x"></i></a>
                            <a href="https://ja.wikipedia.org/wiki/HyperText_Markup_Language"><i class="fa fa-html5 fa-2x"></i></a>
                            <a href="https://github.com/Nakamura-Yasuhiro?tab=repositories"><i class="fa fa-github fa-2x"></i></a>
                        </div>
    </footer>