nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'トップ', root_path
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto

    form.form-inline.my-2.my-lg-0
      = link_to '新規投稿', "#"
