<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <!-- この行を編集 -->
  <%= link_to 'テクピト動画', root_path %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <!-- この行を編集 -->
      <%= link_to '新規投稿', "#" %>
      
    </form>
  </div>
</nav>