<div class="sidebar-light-side">
    
<ul>
  <li class="main-menu"><%= link_to("ヘルプセンター","/help/index") %></li>
  <li class="main-menu"><%= link_to("中村泰大って誰?","/name/index") %></li>
  <li class="main-menu"><%= link_to("Qiita要覧", "https://qiita.com/Nakamura-Yasuhiro/private/faec0a977e8709b34ada", :target=>["_blank"]) %></li>
  <li class="main-menu"><%= link_to("Github・コード", "https://github.com/Nakamura-Yasuhiro/rails-portfolio", :target=>["_blank"]) %></li>
</ul>
</div>

<div class="sidebar-left-side-s">
    <!-- 画像で文字改行  -->
</div>