html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | Enginner-meets
    = csrf_meta_tags
    = stylesheet_link_tag    'users'
    = stylesheet_link_tag    'normalize'
    = javascript_include_tag 'users.js'
    = stylesheet_link_tag    'back'
  .main.user-edit
    .container
      .form-heading
        | アカウント編集
  .header-logo
    .back-logo
      = link_to 'ひとつ前に戻る', :back
    .form.users-form
      .form-body
        - @user.errors.full_messages.each do |message|
          .form-error
            = message
        = form_tag("/users/#{@user.id}/update", {multipart: true}) do
          p
            | ユーザー名
          |  <input name="name" value="
          = @user.name
          | "> 
          p
            | 画像
          input[name="image" type="file"]
          p
            | メールアドレス
          |  <input name="email" value="
          = @user.email
          | "> 
          p
            | コメント
          |  <input name="comment" value="
          = @user.comment
          | "> 
          input[type="submit" value="保存"]
