html{
  background-image: linear-gradient(
    120deg
    , #a1c4fd 0%, #c2e9fb 100%);
}

.field{
  color: white;
}


body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image:url("back.jpg") ;
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 25rem;
  left:50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;

h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
}
.box input,.box input{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "email"],.box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "email"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box input:focus,.box input:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover{
background: #2ecc71;
}

.user img{
  width: 100px;
  border-radius: 100px;
}

.posts-index-item{
  background-color: white;
  margin-bottom: 10px;
  margin-right: 10rem;
  border-radius: 30px;

img{
  width: 100px;
  border-radius: 100px;
}
}



.sidebar__item--fixed a {
  text-decoration: none;
  color: black;
  font-size: 2vh;
  line-height: 1.5;
}


.enginner-bg-1 {
  margin-top: 0;
}


#user{
  margin-top: 10px;
}


.sidebar-bg-1 {
  width: 220px;
  height: 150rem;
  background-color: white;
}

.sidebar-bg-2 {
  height: 150rem;
}
.sidebar-bg-3 {
  height: 150rem;
}

.sidebar-bg-4 {
  height: 150rem;
}

.sidebar-bg-5 {
  height: 150rem;
}

.sidebar-bg-6 {
  height: 150rem;
}

.sidebar-bg-7 {
  height: 150rem;
}
